<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>MVC</h1>
    <a href="/signin">로그인 페이지</a>
    <a href="/signup">회원가입 페이지</a>
    <a href="/all">회원 리스트 보기</a>
    <script>
      console.log('<%= cookie %>');
      if ('<%= cookie %>' === 'false') {
        alert('로그인해주세요');
      }
    </script>
  </body>
</html>
