<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 전화번호 인증하기 -->
    <h1>전화번호 인증하기</h1>
    <h2>전화번호 인증을 위해서 사용 가능한 전화번호를 입력해주세요.</h2>
    <br />
    <input type="text" id="phoneNumber" placeholder="010-0000-0000" /><br />
    <input
      type="text"
      id="phoneCheck"
      placeholder="인증번호를 입력해주세요"
    /><br />
    <button>인증받기</button>
  </body>
</html>
